<md-card class="outfit-card" >
  <md-card-title-group>
    <md-card-title>{{item.title}}</md-card-title>
    <md-card-subtitle >{{item.price | currency:'USD':true}}</md-card-subtitle>          
  </md-card-title-group>
  <img md-card-image [src]="item.img">
  <md-card-content>
    <p [innerHtml]="item.desc" ></p>
  </md-card-content>
  <md-card-footer align="end">
      <button md-icon-button>
        <md-icon>share</md-icon>
        </button>
      <button md-icon-button (click)="addToCartClicked(item)" >
        <md-icon>add_shopping_cart</md-icon>
        </button>
    </md-card-footer>
</md-card>