.checkout {
    margin: 50px;
}

.checkout md-input-container , .checkout md-radio-button{
    margin: 10px;
}

.submitCart {
    margin-top: 20px;
}

.error {
    color: red;
    padding: 5px;
    font-size: 10px;
}