/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

@font-face {
    font-family: titleFont;
    src: url('assets/FORTE.ttf')  format('truetype');
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    
    background: rgb(29,4,38); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(29,4,38,1) 0%, rgba(74,79,8,1) 18%, rgba(10,99,99,1) 45%, rgba(102,95,32,1) 74%, rgba(158,50,82,1) 97%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(29,4,38,1) 0%,rgba(74,79,8,1) 18%,rgba(10,99,99,1) 45%,rgba(102,95,32,1) 74%,rgba(158,50,82,1) 97%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(29,4,38,1) 0%,rgba(74,79,8,1) 18%,rgba(10,99,99,1) 45%,rgba(102,95,32,1) 74%,rgba(158,50,82,1) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}